/wp-includes
.htaccess
index.php
license.txt
readme.html
wp-activate.php
wp-admin/
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

/wp-content/themes/*
!/wp-content/themes/genius_my/
!/wp-content/themes/elementor/
!/wp-content/themes/genius_my-child/

# /wp-content/plugins/*
/wp-content/plugins/astra-sites
/wp-content/plugins/child-theme-configurator
/wp-content/plugins/classic-editor
/wp-content/plugins/elementor
/wp-content/plugins/woo-cart-abandonment-recovery
/wp-content/plugins/wpforms-lite
!/wp-content/plugins/elementor-foundation/*
/wp-content/plugins/classic-widgets